<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Edit Car' : 'Create Car'}"></title>
</head>
<body>
<h1 th:text="${edit ? 'Edit Car' : 'Create Car'}"></h1>
<form th:action="@{'/save'}" method="post" th:object="${car}">
  <input type="hidden" th:field="*{id}">
  <p>
    License Plate Number: <input type="text" th:field="*{spz}">
  </p>
  <p>
    Color: <input type="text" th:field="*{color}">
  </p>
  <p>
    Tank Volume: <input type="number" th:field="*{tankVolume}">
  </p>
  <p>
    Number Of Seats: <input type="number" th:field="*{numberOfSeats}">
  </p>
  <button type="submit">Save</button>
</form>

</body>
</html>